doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="vendor/metro4/css/metro-all.min.css")
        link(rel="stylesheet", href="css/index.css")

        title Aptos Demo Wallet v0.1.0

        script.
            globalThis.protAddress = "http"
            globalThis.nodeAddress = ""
            globalThis.apiPort = 8080
            globalThis.metricPort = 9101
            globalThis.data = {
                metric: false,
                health: false,
                api: false
            }

    body.m4-cloack
        include ./sections/header

        div(style="height: 10px;")
            div#activity(data-role="activity" data-type="metro" data-style="color" style="display: none;")

        include ./sections/main

        script(src="vendor/metro4/js/metro.min.js")
        script(type="module", src="js/index.js")