:root {
    --body-background-color: #fff;
    --form-background-color: #fff;
    --text-color: #262626;

    --border-radius: 4px;
    --border-color: #d9d9d9;

    --balance-info-background: #fef5e6;
    --balance-info-accent-background: #f59f00;
}

.button {
    border-radius: var(--border-radius);
}

body {
    background: var(--body-background-color);
    color: var(--text-color);
}

.bd-system {
    border-color: var(--border-color)!important;
}


.aptos-logo, .app-bar-logo {
    height: 1.8rem;
    color: var(--text-color);

    img {
        height: 100%;
    }
}

.app-bar-logo {
    height: 1rem;
    line-height: 1;
}

.login-form {
    width: 480px;
    max-width: 90%;
    padding: 10px 20px;
    background: var(--form-background-color);
    border-radius: var(--border-radius);
}

.address-balance {
    background: var(--balance-info-background);
    padding: 20px 40px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

#address-balance {
    font-size: 48px;
    line-height: 1;
}

#title {
    position: relative;
}

.received-coins-list, .sent-coins-list {
    width: 100%;

    li {
        overflow-x: auto;
        padding: 20px;
        border-radius: 10px;

        //& > div {
        //    min-width: 520px;
        //}
    }
    & > li:nth-child(odd) {
        background: var(--balance-info-background);
    }
    .row-icon{
        margin-right: 20px;
    }

    .address-wrapper {

    }
    .amount {
        font-size: 18px;
    }
    .total {
        margin-left: 8px;
        font-weight: bold;
        color: var(--balance-info-accent-background);
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: end;
        min-width: 100px;
    }
}

.tabs {
    li {
        overflow: hidden;
        font-size: 22px;
        border-top-left-radius: var(--border-radius)!important;
        border-top-right-radius: var(--border-radius) !important;
    }
}

@media screen and (min-width: 800px)  {
    #title {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 50%;
        margin-left: -160px;
    }
}